.top {
  /* background-image: url("backgroung/6.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f9f1fe;
      padding-top: 140px;
width: 100%;

}
h1 {
  font-size: 6rem;
  position: relative;
  bottom: 20px;
font-family: 'Qwitcher Grypen', cursive;
margin: 50px auto 0 auto;
color: #b65fcf;
font-weight: normal;
}
body {

  margin: 0;
  text-align: center;
font-family: 'Merriweather', serif;
}
h3 {
font-family: 'Montserrat', sans-serif;
  font-size: 	1.1rem;
  color: purple;
}
h2 {
  color: #b65fcf;
  font-family: 'Montserrat', sans-serif;
  font-size: 	2.2rem;
font-weight: 500;
}
.programmer {
    font-size: 	1.7rem;
    font-weight: 500;

}
.cloud {
  position: absolute;
  width: 4.5cm;
}
.first {
  top: 100px;
  right: 435px;
}
.second {
  left: 400px;
}
.mountain {
  width: 40%
}
.image-pfp {
  margin: 20px;
}

.profile p {
  margin: 0 36%;
}

.image-skill1 {
  background-color: #fbbede;
  border-radius: 100%;
  width:25%;
  float: left;
  margin-right: 30px;
}
.image-cute {
  width:25%;
  background-color: #b65fcf;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
}
.pro {
  text-decoration: underline;

}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.middle {
  margin-top: 50px;
}
p {
  color: #40514e;
  line-height: 2;
}
hr {
border-style: dotted none none none;
width: 3%;
border-width: 5px;
margin: 100px auto;
border-color: lightgrey;
}
.bottom {
  margin-bottom: 0;
}
.contact {
  width: 50%;
  margin: auto;
}
.footer {
background-color: #b65fcf;
margin-top: 100px;
padding: 40px;
}
.footer a {
  color: purple;
  text-decoration: none;
  margin: 20px;
}
a:hover {
color: white;
}

.footer p {
  color: white;
  font-size: 13px;
  margin-top: 40px;
}
.contact h3 {
  margin-top: 50px;
}
input {
background-color: #b65fcf;
border-radius: 8px;
height: 40px;
color: white;
border: none;
padding-left: 20px;
padding-right: 20px;
margin-top: 40px;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 1.2rem;
}
input:hover {
background-color: #fbbede;
}
.button {
  text-decoration: none;
}


@media (max-width: 991px) {

  .first {
    width: 15%;
  right: 15%;
  }

  .second {
    width: 15%;
    left: 15%;
  }
 .profile p {
    margin: 0 20%;
}
.contact {
  width: 60%;
}
}

